body {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 97.5vh;
}


.whitercard {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 50%;
  height: 50%;
  border-radius: 1em;
  padding: 1em;
}

.photocard {
  background-image: url("img/079.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 50%;
  height: 100%;
}

.infocard {
  display: flex;
  flex-direction: column;
  background-color: blanchedalmond;
  width: 50%;
  height: 100%;
  border-radius: 1em;
}

.firstcard {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15%;
  /* border: 1px solid yellowgreen; */
  padding: 8px 0px;
}

.name {
  width: 60%;
  height: 100%;
  /* border: 1px solid yellow; */
  /* box-shadow: 10px 0 10px -5px rgb(255, 255, 255); */
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid white;
}

.slowpoke {
  font-size: 25px;
  text-align: center;
  color: blueviolet;
}

.height {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0em auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.tittle {
  color: blueviolet;
  font-size: 18px;
  margin-right: 0.5em;
}

.description {
  color: rgb(247, 136, 155);
  font-size: 16px;
}

.statistics {
  width: 100%;
  height: 15%;
  /* border: 1px solid blue; */
  border-top: 1px solid white;
  padding: 0.5em 0em;
}

.threecard {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 55%;
  border-top: 1px solid white;
  padding: 0.5em 0px;
}

.moves {
  width: 50%;
  height: 100%;
  border-right: 1px solid white;
  padding-left: 0.5em;
}

.tresunocard {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 0em 0.5em;
  /* padding-left: 8px;  */
}

.type {
  width: 100%;
  height: 50%;
  padding-bottom: 0.5em;
}

.abilities {
  width: 100%;
  height: 50%;
  border-top: 1px solid white;
  padding-top: 0.5em;
}

.boxbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  border-top: 1px solid white;
}

.button {
  width: 60%;
  height: 70%;
  border: 0px;
  border-radius: 8px;
  font-family: "Pixelify Sans", sans-serif;
  color: blueviolet;
  font-size: 15.99999999999999999999999px;
}

@media only screen and (max-width: 600px) {
  .whitercard {
    flex-direction: column;
    height: 80%;
    width: 80%;
  }
  .photocard{
    height: 40%;
    width: auto;
  }
  .infocard{
    height: 60%;
    width: auto;
    overflow: auto;
  }
  .tittle{
    font-size:16px;
}
.description{
    font-size: 14px;
}
}

@media only screen and (max-width: 350px) {
    .whitercard {
      flex-direction: column;
      height: 80%;
      width: 80%;
    }
    .photocard{
      height: 30%;
      width: auto;
    }
    .infocard{
      height: 70%;
      width: auto;
    }

    .slowpoke{
        font-size: 20px;
    }
    .tittle{
        font-size:15px;
    }
    .description{
        font-size: 13px;
    }
}
